---
layout: homesite
---

  <main class="mainpage">


    <div class="tabs default-tab current" num="0" status="open" fa="fa-user">
      <nav class="top-nav">
        <i class="fa fa-fw fa-times fa-4x toggle-nav fa-user first-click" id="contact-page"alternate=""></i>
      </nav>
      <div class="body-info">
        <h1 class="name">
          theresa ma
        </h1>
        <h2 class="title">
          a developer in development
        </h2>
        <h3 class="contact">
          <li>
            <a href="mailto:theresa.ma@mail.utoronto.ca" target="_blank"><i class="fa fa-envelope-o"></i></a>
          </li>
          <li>
            <a href="//twitter.com/theresamatweets" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="//www.linkedin.com/in/matheresa" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="//github.com/theresama" target="_blank"><i class="fa fa-github"></i></a>
          </li>
        </h3>
      </div>

    </div>

    <div class="tabs about-tab" num="1" status="open" fa="fa-info-circle">
      <nav class="top-nav">
        <i class="fa fa-fw fa-times fa-4x toggle-nav fa-info-circle" id="about-page"></i>
      </nav>

      

      <div class="body-info">
        <h1 class="about-title">Hey, hi - </h1>
        <p class="explanation">
          I'm Theresa. I'm a third year student at the University of Toronto, completing a specialist in computer science (w/a focus in artificial intelligence + web & internet technologies), major in cognitive science (I want to read your mind), & minor in philosophy (what does any of this even mean?). Right now I'm really interested web design & development, but I make other things too (like really good mashed potatoes). Drop me a note & maybe we could make something together. 
          <br><br>
          tl;dr: nice to meet you. </p>
      </div>
    </div>

    <div class="tabs portfolio-tab" num="2" status="open" fa="fa-briefcase">
      <nav class="top-nav">
        <i class="fa fa-fw fa-times fa-4x toggle-nav fa-briefcase" alternate=""></i>
      </nav>
      
      <div class="project-info col-sm-8 col-sm-offset-2 col-xs-12">
        <h1 class="">Work / Projects</h1>

        <div class="project-wrapper">
          <a href="/sa-dashboard">
            <div class="col-xs-6 proj-box">
              <div class="proj-cover">
                <div class="info-overlay">
                  <h3 class="proj-title">StackAdapt Dashboard Redesign <br><span class="date"> July 2014</span></h3>
                </div>
                <img src="/assets/images/dashblk.png" style="width: 100%" alt="StackAdapt dashboard redesign by Theresa Ma">
              </div>
            </div>
          </a>
          
          <a href="/sa-ghost">
            <div class="col-xs-6 proj-box">
              <div class="proj-cover">
                <div class="info-overlay">
                  <h3 class="proj-title">Ghost Theme for StackAdapt Blog<br> <span class="date"> August 2014</span></h3>
                </div>
                <img src="/assets/images/blog.png" style="width: 100%" alt="StackAdapt blog theme design by Theresa Ma">
              </div>
            </div>
          </a>

          <a href="/Blacklist-Twitter">
            <div class="col-xs-6 proj-box">
              <div class="proj-cover">
                <div class="info-overlay">
                  <h3 class="proj-title">blacklist twitter<br><span class="date">october 2014</span></h3>
                </div>
                <img src="/assets/images/blacklist.png" style="width: 100%" alt="Blacklist Twitter Google Chrome Extension">
              </div>
            </div>
          </a>

          <a href="/filter">
            <div class="col-xs-6 proj-box">
              <div class="proj-cover">
                <div class="info-overlay">
                  <h3 class="proj-title">#filter<br><span class="date">january 2014</span></h3>
                </div>
                <img src="/assets/images/filter.png" style="width: 100%" alt="Facebook Filter Google Chrome Extension">
              </div>
            </div>
          </a>
          

          <a href="/to-end-of-days">
            <div class="col-xs-6 proj-box">
              <div class="proj-cover">
                <div class="info-overlay">
                  <h3 class="proj-title">to end of days <br><span class="date">may 2012</span></h3>
                </div>
                <img src="/assets/images/lotr.png" style="width: 100%" alt="To End of Days: Themes from LOTR arranged for 12 part concert band">
              </div>
            </div>
          </a>
          

          <a href="/another-brick-in-the-wall">
            <div class="col-xs-6 proj-box">
              <div class="proj-cover">
                <div class="proj-cover">
                  <div class="info-overlay">
                    <h3 class="proj-title">another brick in the wall <br><span class="date"> april 2014</span></h3>
                  </div>
                  <img src="/assets/images/pong.png" style="width: 100%" alt="Another Brick in the Wall: Pong for Altera DE2 FPGA">
                </div>
              </div>
            </div>
          </a>
          
        </div>
      </div>
    </div>
    
    <div class="tabs blog-tab" num="3" status="open" fa="fa-comment">
      <nav class="top-nav">
      
      </nav>

      <div class="body-info" style="width: 70%; overflow: auto">
        <h1 class="blog-title">Blog </h1>
        <p class="explanation">
          <ul class="post-list">
            {% for post in site.posts %}
            {% if post.category == "blog" %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                  <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </h2>
                </li>
            {% endif %}
            {% endfor %}
          </ul>
        </p>
      </div>
    </div>

  </main>

  <div class="mobile-footer">
    <h3 class="contact">
      <li>
        <a href="mailto:theresa.ma@mail.utoronto.ca" target="_blank"><i class="fa fa-envelope-o"></i></a>
      </li>
      <li>
        <a href="//twitter.com/theresamatweets" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="//www.linkedin.com/in/matheresa" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
        <a href="//github.com/theresama" target="_blank"><i class="fa fa-github"></i></a>
      </li>
    </h3>
  </div>

  <footer>
    <div class="dock col-xs-8 col-xs-offset-2">
      <div clas="row">
        <div class="col-xs-2 col-xs-offset-2">
          <div class="shadow"></div>
          <i class="fa fa-fw fa-4x fa-user active fa-select-tab" id="fa-user"></i>
        </div>
        <div class="col-xs-2">
          <div class="shadow"></div>
          <i class="fa fa-fw fa-4x fa-info-circle active fa-select-tab" id="fa-info-circle"></i>
        </div>
        <div class="col-xs-2">
          <div class="shadow"></div>
          <i class="fa fa-fw fa-4x fa-briefcase active fa-select-tab" id="fa-briefcase"></i>
        </div>
        <div class="col-xs-2">
          <div class="shadow"></div>
          <i class="fa fa-fw fa-4x fa-comment active fa-select-tab"></i>
        </div>
      </div>
    </div>
  </footer>

  <script>

    $(function(){

      var z = 9;
      var mobile = false;
      var width = $(window).width();

      $(window).resize(function () {
        width = $(window).width();
      });

      if (width < 735){
        mobile = true;
      }

      $('.first-click').click(function(event) {
        $('footer').animate({
          bottom: 0
        }, 300, function(){
          $('.first-click').removeClass('first-click');
        });
      });

      $('.fa-times').click(function(event) {
        var parent_tab = $(this).parents('.tabs')[0];

        var icon = $(parent_tab).attr('fa');
        $('#' + icon).removeClass('active');
        
        var left = $(window).width() * 0.25;

        if ($(parent_tab).hasClass('about-tab')){
          left = $(window).width() * 0.37;
        }

        else if ($(parent_tab).hasClass('portfolio-tab')){
          left = $(window).width() * 0.49;
        }
        
        $(parent_tab).animate({
          left: left, 
          width: 50,
          height: 100,
          bottom: 30,
          opacity: 0
        }, 800, function(){
          $(parent_tab).css('z-index', 1);
          $(parent_tab).attr('status', 'closed')
        });

      });

      $('.fa-select-tab').click(function(event) {
        var id = $(this).attr('id');

        var which_tab = $("[fa='" + id + "']");

        var left = $(window).width() * 0.25;

        if ($(which_tab).hasClass('about-tab')){
          left = $(window).width() * 0.37;
        }

        else if ($(which_tab).hasClass('portfolio-tab')){
          left = $(window).width() * 0.49;
        }

        var status = $(which_tab).attr('status');
        console.log(status);

        if (status == "closed" || !($(which_tab).hasClass('current'))) {
          $(which_tab).css('z-index', z);
          z++;
          $(which_tab).attr('status', 'open');
          $('.tabs').removeClass('current');
          $(which_tab).addClass('current');

          $(this).addClass('active');

          $(which_tab).animate({
            bottom: 0,
            height: 100 + '%',
            width: 100 + '%',
            left: 0,
            opacity: 1
          }, 700);
        }

        else if (status == "open"){
          $(which_tab).attr('status', 'closed');
          $(which_tab).animate({
            left: left, 
            width: 50,
            height: 100,
            bottom: 30,
            opacity: 0
          }, 700, function(){
            $(which_tab).css('z-index', 1);
            z++;
          });
        }
      });

    if (mobile){
      $(".proj-box").click(function(event) {
        $(this).toggleClass('proj-open');
      });
    }

    else{
      $('.proj-box').click(function(event) {
        if ($(this).hasClass('proj-open')){
          $(this).animate({
            width: 50 + '%', 
            height: 260
          }, 400);

          $(this).removeClass('proj-open');
        }

        else{
          $(this).animate({
            width: 100 + '%', 
            height: 100 + '%'
          }, 500);

          $(this).addClass('proj-open');
        }
      });
    }
    });

  </script>

