<footer class="site-footer">

  <div class="footer-social">

    <div>
      <a href="mailto:theresa.ma@mail.utoronto.ca" target="_parent"><i class="fa fa-envelope-o"></i></a>
    </div>
    <div>
      <a href="//twitter.com/theresamatweets" target="_parent"><i class="fa fa-twitter"></i></a>
    </div>
    <div>
      <a href="//www.linkedin.com/in/matheresa" target="_parent"><i class="fa fa-linkedin"></i></a>
    </div>
    <div>
      <a href="//github.com/theresama" target="_parent"><i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>
