<aside class="sidebar">
    <a href="/{{ prepend: site.baseurl }}">
        <img class="nav-photo" src="{{ site.url }}/assets/images/tma.png">
    </a>

    <nav class="nav">
        <ul>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li>
                <strong>
                    <a  href="{{my_page.url | prepend: site.baseurl }}">{{my_page.title}}</a>
                </strong>
            </li>
            {% endif %}
            {% endfor %}

        </ul>

        <div class="nav-projects journal-list">
            <li class="mobile-only">
                <strong>
                    {% if page.categories == 'projects' %}
                        <label for="mobile-projs" class="highlight">projects</label>
                    {% else %}
                        <label for="mobile-projs">projects</label>
                    {% endif %}
                </strong>
             </li>

            <a href="{{ '/journal' | prepend: site.baseurl }}" class="highlight"><strong>journal</strong></a>

            <ul class="entry-list">
                {% for post in site.categories.journal %}
                {% if post.categories contains 'travel' %}
                {% else if post.categories contains 'archive' %}
                    <li>
                        {% if include.index == 'true' %}
                        <a href="#{{ post.url }}">
                            <span class="archive-post-link">
                                {{ post.date | date: "%b %-d, %Y" }}
                            </span>
                        </a>
                        {% else %}
                            {% if post.url == page.url %}
                            <a href="{{ post.url | prepend: site.baseurl}}" class="highlight">
                                <span class="archive-post-link">
                                    {{ post.date | date: "%b %-d, %Y" }}
                                </span>
                            </a>
                            {% else %}
                            <a href="{{ post.url | prepend: site.baseurl}}">
                                <span class="archive-post-link">
                                    {{ post.date | date: "%b %-d, %Y" }}
                                </span>
                            </a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% else %}
                <li>
                    {% if page.url == post.url %}
                        <a href="{{ post.url rnal/archive/epend: site.baseurl }}" class="highlight" >{{ post.title }}</a>
                    {% else %}
                        <a href="{{ post.url | prepend: site.baseurl }}" >{{ post.title }}</a>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul>
                <li>
                    <strong>
                        <a href="{{ '/scrapblog' | prepend: site.baseurl}}">scrapblog</a>
                    </strong>
                 </li>
            </ul>

            <input type="checkbox" id="mobile-projs" style="display: none;">
            <div class="nav-proj-mobile">
                {% for collection in site.collections %}
                {% if collection.label != 'posts' %}
                    <ul>
                        {% for project in collection.docs %}
                        {% if project.title %}
                        <li>
                            {% if page.title == project.title %}
                                <a href="{{ project.url | prepend: site.baseurl }}" class="highlight" >{{ project.title }}</a>
                            {% else %}
                                <a href="{{ project.url | prepend: site.baseurl }}" >{{ project.title }}</a>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>
</aside>
