<aside class="sidebar">
    <a href="/about{{ prepend: site.baseurl }}">
        <img class="nav-photo" src="{{ site.url }}/assets/images/tma.png">
    </a>

    <nav class="nav">
        <ul>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li>
                <strong>
                    <a  href="/about{{ prepend: site.baseurl }}">about</a>
                </strong>
            </li>
            {% endif %}
            {% endfor %}

        </ul>

        <div class="nav-projects journal-list">

            <a href="{{ '/journal' | prepend: site.baseurl }}" class="highlight"><strong>journal</strong></a>

            <ul class="entry-list">
                {% for post in site.categories.journal %}
                {% if post.categories contains 'archive' or post.categories contains 'travel' %}
                {% else %}
                <li>
                    {% if page.url == post.url %}
                        <a href="{{ post.url rnal/archive/epend: site.baseurl }}" class="highlight" >{{ post.title }}</a>
                    {% else %}
                        <a href="{{ post.url | prepend: site.baseurl }}" >{{ post.title }}</a>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul>
                <li>
                    <strong>
                        <a href="{{ '/scrapblog' | prepend: site.baseurl}}">scrapblog</a>
                    </strong>
                 </li>
                <li>
                    <strong>
                        <a href="{{ '/journal/travel/' | prepend: site.baseurl}}">travel</a>
                    </strong>
                 </li>
                <li>
                    <strong>
                        <a href="{{ '/journal/archive/' | prepend: site.baseurl}}">archive</a>
                    </strong>
                 </li>
            </ul>


            {% include icon-twitter.html username=site.twitter_username %}<br>
        </div>
    </nav>
</aside>
