<header class="site-header">
  <nav class="head-wrapper">
    <div class="sidebar-icon">
      <i class="fa fa-caret-down fa-2x open-panel"></i>
    </div>
    <div class="header-logo">
      <h1>
        theresa ma
      </h1>
    </div>
  </nav>

  <aside class="sidebar-panel" style="width: 300px; display: none;">
    <nav class="links">
      <ul>
        <a href="/#"><li class="title-link">Home</li></a>
        <a href="/#"><li class="title-link">About</li></a>
        <li class="title-link">Projects</li>
          <ul>
            <a href="/sa-dashboard">
              <li class="sub-link">StackAdapt Dashboard UI</li>
            </a>
            <a href="http://stackadapt.com" target="_blank">
              <li class="sub-link">StackAdapt Website</li>
            </a>
            <a href="/sa-ghost">
              <li class="sub-link">StackAdapt Blog Theme</li>
            </a>
            <a href="/sa-native-ads">
              <li class="sub-link">StackAdapt Native Ad Units</li>
            </a>
            <a href="/to-end-of-days">
              <li class="sub-link">To End of Days</li>
            </a>
            <a href="/another-brick-in-the-wall">
              <li class="sub-link">Another Brick in The Wall</li>
            </a>
            <a href="/fbook-hackathon-2014">
              <li class="sub-link">Facebook Hackathon 2014</li>
            </a>
          </ul>
        <a href="/#" target="_blank">
          <li class="title-link">Contact</li>
        </a>
        <a href="/#" target="_blank">
          <li class="title-link">Resumé</li>
        </a>
        <a href="/blog" target="_blank">
          <li class="title-link">Blog</li>
        </a>
      </ul>
    </nav>
  </aside>

  <script>
    $(function(){
      var height = $(window).height();

      $('.open-panel').click(function(event) {
        $('.sidebar-panel').css('height', height);
        $('.sidebar-panel').toggle(400);
        $('.open-panel').toggleClass('caret-up');
      });
    })
  </script>

</header>