// ---
// # Only the main Sass file needs front matter (the dashes are enough)
// ---
// @charset "utf-8";


// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #666;
$background-color: #fdfdfd;
$link-color:       #2a7ae2;
$brand-color: 	   #e32d53;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$pink: #F1498D;

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

html{
	height: 100%;
	width: 100%;
	
	-webkit-font-smoothing: subpixel-antialiased;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

@media(width: 800px){
	.site-header{
		display: none !important;
	}

	.default-main{
		margin-top: 0px !important;
	}

	.link-back{
		display: none !important;
	}

	.page-content {
	    margin-top: 0px !important;
	}
}

.default-main{
	width: 95%;
	margin: auto;
}

.float-none{
	float: none !important;
}

.link-back{
	display: inline-block;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 0.9em;
}

.post-title{
	color: #111;
	transition: 0.2s ease;
	
	&:hover {
	    opacity: 0.7;
	    text-decoration: none;
	    transition: 0.2s ease;
	}
}


.site-header{
	color: white;
	position: fixed;
	width: 100%;
}

.homepage{
	.slide-cover{
		display: block;
	}
}

.slide-cover{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #c0c0c0;
	z-index: 999;
	overflow: hidden;
	opacity: 1;
	display: none;
}

.name{
	font-size: 4.5em;
	color: #fff;
	margin: 0px;
	margin-top: 35vh;
}

.title{
	font-size: 1.7em;
	color: #fff;
	margin: 0px;
}

.contact{
	margin-top: 10px;
	color: #fff;
	li{
		list-style: none;
		padding-left: 0px;
		display: inline;
		font-size: 0.9em;
		margin: 10px 20px;
	}

	a {
		color: #333;
	}
}

.body-info{
	width: 40%;
	margin: auto;
	text-align: center;
	max-height: 90%;
}

.head-wrapper{
	width: 100%;
	padding-left: 10px;
	padding-right:10px;
	margin: auto;
	height: 100%;
}

.post-wrap{
	width: 60%;
	margin: auto;
}

@media (max-width: 801px){
	.post-wrap{
		width: 85%;
	}
}

.sidebar-icon{
	float: left;
}

.header-logo{
	float: right;
}

.sidebar-panel{
	background: $pink;
	position: fixed;
}

.caret-up:before{
	content: "\f0d7" !important;
}

.links{

	padding: 20px 0px;
	font-family: 'Montserrat', sans-serif;
	
	a{
		color: white;
		text-decoration: none;
	}

	a:hover{
		border-bottom: 1px solid #3CD7D9;
	}


	ul{
		list-style-type: none;
	}

	.title-link{
		font-size: 1.5em;
		line-height: 2em;
	}

	.sub-link{
		line-height: 1.8em;
	}

	.post-list{
		margin-left: 15px;
		list-style-type: circle;
	}

	.blog-list{
		margin-left: 15px;
	}

	.post-link{
		font-size: 0.5em;
	}
}
