<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main style="width: 95%; margin: auto; float: right;">
      <div class="row min-h" style="min-height: 75%;">
        <div class="page-content" >
          <div>
            <div class="post-wrap">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </main>

    

    <script>
      $(function(){
        var height = $(window).height();

        $('.min-h').css('min-height', height - 190);
      })
    </script>

  </body>

</html>
